server:
  port: 8080
  servlet-path: /v1

spring:
  # MySQL数据库配置
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/db_shiro?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: Kjz123!@#
  http:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true
  # Redis 配置
  redis:
    database: 1
    host: 127.0.0.1
    password: kanjinzhao
    pool:
      max-active: 8
      max-idle: 10
      max-wait: -1
      min-idle: 0
    port: 6379
    timeout: 30000

#mybatis
mybatis-plus:
  mapper-locations: classpath*:/mapper/*/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.shaoming.*.model
  global-config:
    #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
    id-type: 2
    #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
    field-strategy: 2
    #驼峰下划线转换
    db-column-underline: true
    #刷新 mapper 调试神器
    refresh-mapper: true
    #数据库大写下划线转换
    #capital-mode: true
    #序列接口实现类配置
    #key-generator: com.baomidou.springboot.xxx
    #逻辑删除配置（下面3个配置）
    logic-delete-value: 0
    logic-not-delete-value: 1
    #自定义SQL注入器
    #sql-injector: com.baomidou.mybatisplus.mapper.LogicSqlInjector
    #自定义填充策略接口实现
    #meta-object-handler: com.baomidou.springboot.xxx
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false

# 日志配置
logging:
  level: # 打印SQL
    com.shaoming: debug